@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Reset
 * 1. Imports
 * 2. Elements
 * 3. ID & Class
 * 4. Pseudoclass
 * 5. Media Queries
**/

/* 0. Reset */
* {
	-moz-box-sizing:	border-box;
	box-sizing:		border-box;
}

::selection { background: rgba(0, 0, 0, 0.1); }
::-moz-selection { background: rgba(0, 0, 0, 0.1); }

html { 
}

body {
	width:			100%;
	margin:			0;
	padding:		0;
	min-width:		320px;
	font-family:		Verdana, Georgia, Helvetica,	/* Desktop	*/
				"Droid Sans", "Helvetica Neue",	/* Mobile	*/
				Sans-serif;			/* Fallback	*/
}

a {
	outline:		0;
	text-decoration:	none;
}

hr {
	border:			1px solid;
	border-color:		#aaa transparent #fff;
	clear:			both;
}

/* 1. Imports */

/* 2. Elements */

body {
	color:			#333;
	background-color:	#ddd;
	background-attachment:	fixed;
}

body > * {
	width:			800px;
	margin:			auto;
	text-align:		center;
}

h1 {
	padding-top:		20%;
}

header {
	cursor:			default;
	margin-top:		2%;
	font-size:		2rem;
	font-family:		Verdana;
	text-shadow:		0 0 1px #999;
}

img {
	float:			left;
	width:			30%;
}

nav {
	margin:			2rem auto;
	display:		table;
	font-size:		1.5rem;
	font-family:		Verdana;
}

nav a {
	color:			#678;
	width:			25%;
	padding:		1rem;
	display:		table-cell;
	border:			1px solid;
	border-color:		transparent;
	text-shadow:		0 0 0 #666;
}

/* 3. ID & Class */

.fade {
	-webkit-transition:	all 300ms ease;
	-moz-transition:	all 300ms ease;
	-ms-transition:		all 300ms ease;
	-o-transition:		all 300ms ease;
	transition:		all 300ms ease;
}

/* 4. Pseudoclass */

nav a:hover {
	color:			#345;
	border-color:		#aaa;
	border-radius:		3px;
	box-shadow:		inset 0 0 2px #fff,
				inset 0 -10px 50px rgba(0,0,0,0.1);
}

/* 5. Media Queries */

@media screen and (max-width: 	1280px) {
	body > * {
		margin-top:	5%;
		width:		80%;
		padding:	0 1rem;
	}
	h1 {	padding-top:	20%; }

	hr{
		margin-bottom:	-20px;
		margin-top:	-40px;
	}
}

@media screen and (max-width: 	1024px) {
	body > * {
		margin-top:	5%;
		width:		80%;
		padding:	0 1rem;
	}
	h1 {	padding-top:	20%; }

	hr{
		margin-bottom:	-20px;
		margin-top:	-40px;
	}
}

@media screen and (max-width: 	800px) {
	body > * {
		width:		100%;
		padding:	0 1rem;
	}

	h1 {	padding-top:	25%; }

	hr {	
		margin-top:	-30px;
		margin-bottom:	-20px;
	}

	p {	margin-top: 	-32px; }
}

@media screen and (max-width: 	768px) {
	body > * {

		width:		100%;
		padding:	0 1rem;
	}

	h1 {	padding-top:	25%; }

	hr {
		margin-top:	-30px;
		margin-bottom:	-20px;
	}

	p {	margin-top:	-32px; }

	nav{	margin-top:	5%;}
}

@media screen and (max-width:	640px) {
	body {	
		margin-top:	-30px;
		margin-bottom:	-30px;
	}

	footer > * {
		width:		100%;
		display:	block;
	}

	footer div, footer h6 {
		text-align: 	center; 
	}

	h1 {	padding-top:	5%; }

	header{	font-size:	2.25rem; }

	hr {
		margin-top:	-30px;
		margin-bottom:	-30px;
	}

	nav { 	font-size: 	1.2rem; }

	p {
		margin-top:	-34px;
		font-size: 	2rem;
	}
}

@media screen and (max-width: 	600px) {
	body {	margin-top:	0%;}

	h1 {	padding-top:	6%; }

	hr {
		margin-top:	-30px;
		margin-bottom:	-20px;
	}

	p {
		margin-top:	-55px;
		font-size:	2.5rem;
	}

	header { font-size:	3rem; }

	nav { font-size:	1.2rem; }

	footer > * {
		width:		100%;
		display:	block;
	}

	footer div, footer h6 {
		text-align: 	center; 
	}
}

@media screen and (max-width: 	512px) {
	body {	margin-top:	0%;}

	h1 {
		font-size:	4rem;
		padding-top:	10%; 
	}

	header { font-size: 	2.5rem; }

	hr {
		margin-top:	-5px;
		margin-bottom:	0px;
	}

	nav { 	display: 	block; }

	nav a {
		width:		100%;
		display:	block;
		background:	-webkit-linear-gradient(top, #eee, #ddd);
		background:	-moz-linear-gradient(top, #eee, #ddd);
		background:	-ms-linear-gradient(top, #eee, #ddd);
		background:	-o-linear-gradient(top, #eee, #ddd);
		background:	linear-gradient(top, #eee, #ddd);
		font-weight:	bold;
		border-color:	#eee #ccc #bbb;
		border-radius:	0;
	}

	nav a:first-child { 
		border-radius:	6px 6px 0 0;
	}

	nav a:last-child {
		border-radius:	0 0 6px 6px;
	}

	p {
		margin-top:	-30px;
		font-size: 	2rem;
	}
}

@media screen and (max-width: 	400px) {
	body {	margin-top:	0%;}

	h1 {	margin-top:	-10px; }

	header{	font-size: 	2rem; }

	hr {	margin-top:	-20px;}

	img {
		float:		none;
		width:		50%;
	}

	nav { 	font-size:	1rem; }

	p {	margin-top:	-30px; }
}

@media screen and (max-width: 	360px) {
	body {	margin-top:	15px;}

	h1 {	margin-top:	-45px; }

	header{	font-size:	2rem; }

	hr {
		margin-top:	-20px;
		margin-bottom:	-10px;
	}

	img { 
		float:		none;
		width:		50%;
	}

	nav {	font-size:	1rem; }

	p {
		font-size:	1.5rem;
		margin-top:	-45px; 
	}
}

@media screen and (max-width: 320px) {
	body {	margin-top:	40px;}

	h1 {	margin-top:	-30px; }

	header { font-size:	1.8rem; }

	hr {
		margin-top:	0px;
		margin-bottom:	0px;
	}

	img {
		float: 		none;
		width: 		50%;
	}

	nav {	font-size:	1rem; }

	p {
		font-size:	1.4rem;
		margin-top:	-30px;
	}
}

